<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Veryfi" value="https://nexus.veryfi.com/repository/nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <Veryfi> <!--package src name-->
      <add key="Username" value="PUT_NUGET_USERNAME_HERE" />
      <add key="ClearTextPassword" value="PUT_NUGET_PASSWORD_HERE" />
    </Veryfi>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>